@import 'highlight.js/styles/monokai-sublime.css';

.main-card {
  max-width: 900px;
  margin: 0 auto;
}

.user-info {
  font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}

.avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-image {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
}

.content-text {
  font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}

.code-highlight {
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: auto;
}

.response-title {
  text-align: center;
  font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}

.response-card {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.score-container {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  display: inline-block;
}

.comment-buttons {
  display: flex;
  align-items: center;
}


