<div class="card-container">
  <div *ngFor="let ques of quesList" class="card-item">
    <mat-card style="margin-top: 15px; width: 768px;">
      <div class="outer-card" style="background-color: #e4e0cedd; padding: 40px; box-sizing: border-box; position: relative; border-radius: 15px;">
        <div class="inner-card" style="background-color: white; padding: 15px; border-radius: 15px;">
          <mat-card-content>
            <h3 mat-card-title>{{ques.content}}</h3>
            <p mat-card-subtitle>{{getCompanyName(ques.companyId)}}</p>
          </mat-card-content>
        </div>
        <div class="buttons-container" style="position: absolute; top: 15px; right: 15px; display: flex; flex-direction: column;">
          <button mat-stroked-button color="warn" (click)="showDetails(ques)">R</button>
          <button mat-stroked-button color="accent" style="margin-top: 8px;" (click)="showDetails(ques)">Y</button>
          <button mat-stroked-button color="success" style="margin-top: 8px;" (click)="showDetails(ques)">G</button>
        </div>
      </div>
    </mat-card>
    <br />
  </div>
</div>
