<div style="padding-top: 200px">
    <app-left-section [title]="'Empowering Tech Talent'"
                      [description]="'Welcome to our collaborative platform dedicated to empowering tech talent. Inspired by a passion for knowledge-sharing, we opened this space to create a community-driven hub for Hitech interview preparation. Our goal is to make the interview journey more collaborative, supportive, and ultimately successful.'"
                      [imageSrc]="'../../assets/pic/undraw_artificial_intelligence_re_enpp.svg'">
    </app-left-section>
  </div>
  <div style="padding-top: 200px">
    <app-right-section [title]="'Empowering Tech Talent'"
                      [description]="'Welcome to our collaborative platform dedicated to empowering tech talent. Inspired by a passion for knowledge-sharing, we opened this space to create a community-driven hub for Hitech interview preparation. Our goal is to make the interview journey more collaborative, supportive, and ultimately successful.'"
                      [imageSrc]="'../../assets/pic/undraw_artificial_intelligence_re_enpp.svg'">
    </app-right-section>
  </div>
  