
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field style="width:450px;">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryCtrl" required>
          <mat-option *ngFor="let category of categoryList"
            [value]="category.categoryId">
            {{ category.categoryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out ques content">
    <form [formGroup]="secondFormGroup">

      <mat-form-field style="width:450px;">
        <mat-label>Select kind </mat-label>
        <mat-select formControlName="selectedOption">
          <mat-option *ngFor="let option of options  let i = index" [value]="i">{{
            option }}</mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <mat-form-field style="width:450px;">
        <mat-label>question title</mat-label>
        <input matInput formControlName="titleCtrl">
      </mat-form-field>
      <br />
      <mat-form-field style="width:450px;">
        <mat-label>question</mat-label>
        <textarea matInput formControlName="contentCtrl" required minlength="20"
          rows="5"></textarea>
      </mat-form-field>

      <br />

      <br />
      <div *ngIf="showCodeField">
        <mat-form-field style="width:450px;">
          <mat-label>your code</mat-label>
          <textarea matInput formControlName="codeCtrl"
            rows="10" style="background-color: #000; color:  #fff;"></textarea>
        </mat-form-field>
      </div>
      <div style="display: flex; align-items: center;">
        <button mat-button (click)="toggleCodeField()"
          style="margin-right: 10px;">
          <img src="../../../../assets/pic/code.png" alt>
        </button>

     
        <label for="fileInput" style="cursor: pointer;">
          <img src="../../../../assets/pic/image.png" alt>
        </label>
        <input id="fileInput" type="file" style="display: none;" (change)="onFileSelected($event)"  accept="image/*" />
       
      </div>
     

      <br />
      <mat-form-field style="width:450px;">
        <mat-label>your answer</mat-label>
        <textarea matInput formControlName="answerCtrl" rows="3"></textarea>
      </mat-form-field>

      <br />

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div>
      <p>Your Summary:</p>
      <p>category: {{ firstFormGroup.value.categoryCtrl }}</p>
      <p>title:{{secondFormGroup.value.titleCtrl}}</p>
      <p>content: {{ secondFormGroup.value.contentCtrl }}</p>
      <p>answer: {{ secondFormGroup.value.answerCtrl }}</p>
      <p>kind:{{secondFormGroup.value.selectedOption}}</p>
    </div>
    <div>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="commit()">finish</button>
    </div>
  </mat-step>
</mat-stepper>