<div class="mainContainer"style="margin-right: 20px;" >
  <div class="container2"> 
    <div class="img" style="margin-right: 60px;">
      <img
        src="{{ imageSrc }}"
        alt="team"
        style="width: 25vw; margin-left: 300px; border: 2px solid #ccc; border-radius: 8px; "
      />
    </div>
    <div class="section2">
      <h2>{{ title }}</h2>
      <p class="paragraph2">{{ description }}</p>
      <button class="btnDark2" (click)="onClick()" [style]="customStyle">
        {{ buttonText }}
        <div class="icon2"></div>
      </button>
    </div>
  </div>
</div>
