


.centered-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin-top: 10px; 
}

.custom-padding {
  padding-left: 10px;
}

.dialog-container {
  margin: 10px; 
}

.button-container {
  margin-top: 10px; 
}

.custom-padding {
  padding: 10px;
}
