.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-container {
  /* padding: 40px;  */
  text-align: center;
}


.image-container img {
  max-width: 100%; 
  height: auto; 
}

::ng-deep .mat-dialog-content {
  overflow: hidden;
}