<div style="padding-top: 200px">
    <app-left-section [title]="'Empowering Tech Talent'"
                      [description]="'Welcome to our collaborative platform dedicated to empowering tech talent. Inspired by a passion for knowledge-sharing, we opened this space to create a community-driven hub for Hitech interview preparation. Our goal is to make the interview journey more collaborative, supportive, and ultimately successful.'"
                      [imageSrc]="'../../assets/pic/Talent.svg'"
                      
                     style="display: none;"
                      >
          
    </app-left-section>
  </div>
  <img src="" style = "display: none;" alt="">
  <div style="padding-top: 200px">
    <app-right-section [title]="'Unleash Collective Wisdom'"
                      [description]="'At the heart of our platform is a vibrant community of tech enthusiasts. We believe in the power of collective wisdom. By bringing together diverse perspectives, we aim to elevate the entire community\'s knowledge. Ask your burning questions, share your insights, and let\'s learn and grow together.'"
                      [imageSrc]="'../../assets/pic/Collective.svg'">
    </app-right-section>
  </div>
  <div style="padding-top: 200px">
    <app-left-section [title]="'Learn Together, Succeed Together'"
                      [description]="'We understand that learning is a continuous journey. Whether you\'sre just starting your tech career or are a seasoned professional, our platform is designed to be inclusive. Everyone has a voice here, contributing to an environment where learning is accessible and success is a shared accomplishment.'"
                      [imageSrc]="'../../assets/pic/Together.svg'">
    </app-left-section>
  </div>
  <div style="padding-top: 200px">
    <app-right-section [title]="'Guidance from Industry Experts'"
                      [description]="'Seeking a platform where you can access expert guidance for Hitech interviews? Look no further. Our community includes seasoned professionals who generously share their insights, tips, and strategies. Benefit from their experiences and gain the confidence to excel in your interviews.'"
                      [imageSrc]="'../../assets/pic/Guidance.svg'">
    </app-right-section>
  </div>
  <div style="padding-top: 200px">
    <app-left-section [title]="'Adapt, Evolve, Excel'"
                      [description]="'We believe in continuous improvement. Your feedback shapes our platform, allowing us to adapt and evolve to better serve your needs. Together, let\'ss create an environment that fosters growth, embraces change, and propels your career to new heights.Thank you for being part of our journey. Together, we\'sre building a platform that goes beyond Q&A – it\'ss a supportive community committed to your success in Hitech interviews and beyond.'"
                      [imageSrc]="'../../assets/pic/Excel.svg'">
    </app-left-section>
  </div>
  <div style="padding-top: 200px">
    <app-right-section [title]="'Unleash Collective Wisdom'"
                      [description]="'At the heart of our platform is a vibrant community of tech enthusiasts. We believe in the power of collective wisdom. By bringing together diverse perspectives, we aim to elevate the entire community\'s knowledge. Ask your burning questions, share your insights, and let\'s learn and grow together.'"
                      [imageSrc]="'../../assets/pic/undraw_artificial_intelligence_re_enpp.svg'">
    </app-right-section>
  </div>
  