<div class="mainContainer">
    <div class="container">
        <div class="img">
            <img
              src="{{ imageSrc }}"
              alt="team"
              style="width: 35vw; padding: 0 20px 0 20px; border: 2px solid #ccc; border-radius: 8px;"
            />
          </div>
          <div class="section2">
            <h2>{{ title }}</h2>
            <p class="paragraph">{{ description }}</p>
            <button class="btnDark2" (click)="onClick()" [style]="customStyle">
              {{ buttonText }}
              <div class="icon">
              </div>
            </button>
          </div>
    </div>
  </div>
