<div class="form-container">
  <form class="example-form" [formGroup]="SignUpForm">
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field style="width:190px;">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>
          <mat-error *ngIf="SignUpForm.get('firstName')!.hasError('required')">
            First name is required.
          </mat-error>
        </td>
        <td>
          <mat-form-field style="width: 190px; padding-left: 10px;">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>
          <mat-error *ngIf="SignUpForm.get('lastName')!.hasError('required')">
            Last name is required.
          </mat-error>
        </td>
      </tr>
    </table>

    <div style="margin-top: 10px">
      <mat-form-field style="width:390px;">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="SignUpForm.get('email')!.hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="SignUpForm.get('email')!.hasError('email')">
          Enter a valid email address.
        </mat-error>
      </mat-form-field>
    </div>

    <div style="margin-top: 10px;">
      <mat-form-field style="width: 390px;">
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="SignUpForm.get('password')!.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="SignUpForm.get('password')!.hasError('pattern')">
          Password must contain at least one letter, at least one digit, and be at least 6 characters long.
        </mat-error>
      </mat-form-field>
    </div>
    <label for="fileInput"  style="cursor: pointer;">
      <img src="../../../../assets/pic/image.png" alt>
    </label>
    <input id="fileInput" type="file" style="display: none;" (change)="onFileSelected($event)"  accept="image/*" />

    <br />
    <button mat-raised-button class="submit" (click)="submit()" [disabled]="SignUpForm.invalid">Sign Up</button>
  </form>

  <!-- Move the link under the form -->
  <br/>
  <a (click)="GoToSignIn()">Already have an account? Sign in</a>
</div>
