.mat-toolbar-row {
    justify-content: center;
  }
  
  .mat-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
  }
  
  .copyright {
    display: flex;
    align-items: center;
  }
  
  .flex-spacer {
    flex: 1 1 auto;
  }
